@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    
}
/*Body atrbutions*/
body{
    position: relative;
    font-family: Merriweather, Geagia, serif;
    font-size: 1rem;
    color: black;
    background-color: white;
    min-height: 660px
    
}
/* Header atributions*/
header{
    margin: auto;
    text-align: center;
    width: 600px;
}
h1{
    font-size: 1rem;
    margin: 1em;
    color: blue;
    text-align: center;
}
/* This allows to style the form elements*/
form{
    position: relative;
    display: grid;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: blue;
    width: 550px;
    padding: 60px;
    justify-content: center;
    border-radius: 2em;
    min-height: 100vh;

}
label{
    margin:0 auto;
    padding: 0;
    
    
}
input, label, button, textarea, select{
    position: relative;
    font-size: 15px;
    border: 20px;
    width: 500px;
    padding: 1px;
    border: 2px;
    border-radius: 2em;
    
}
input{
    font-family: 'Courier New', Courier, monospace;
    
}
.column{
    display: grid;
    align-items: center;
    
    padding: 1rem;
    grid-template-columns: 1fr 2fr;
    font-size: 1.5em;
}
button{
    
    background-color: aquamarine;
    
}
